/* main.css or similar file */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
    background-color: #f4f4f4; /* Lighter shade of the original color */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders don't affect the width */

    font-family: 'Libre Baskerville', serif;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}


